/*navbar*/
.navbar-nav .mr-auto{
    font-size: 23px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar{
    height: 135px;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1550982030-7c1af41addbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*navbar*/




/*hover*/
.nav-link:hover{
    color: #8f00ff !important;
}

a:hover{
    color: #8f00ff !important;
    text-decoration: none !important;
}
/*hover*/


/*footer*/
.row{
    text-align: center;
    margin-right: 0 !important;
}


.social {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    font-size: 24px;
}
/*footer*/






















