




/*hover*/
.nav-link:hover{
    color: #8f00ff !important;
}

a:hover{
    color: #8f00ff !important;
    text-decoration: none !important;
}
/*hover*/


/*footer*/
.row{
    text-align: center;
    margin-right: 0 !important;
}


.social {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    font-size: 24px;
}
/*footer*/






















