/*navbar*/
.navbar-nav .mr-auto{
    font-size: 23px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar{
    height: 135px;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1550982030-7c1af41addbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*navbar*/
/*navbar dropdown*/
.badge-danger {
    background-color: #8f00ff!important;
}

.dropdown{
	float:right;
	padding-right: 30px;
}
.btn{
	border:0px;
	margin:10px 0px;
	box-shadow:none !important; 
}
.dropdown .dropdown-menu{
	padding:20px;
	top:60px !important;
	width:350px !important;
	left:-250px !important;
	box-shadow:0px 5px 30px black;
}
.total-header-section{
	border-bottom:1px solid #d2d2d2;
}
.total-section p{
	margin-bottom:20px;
}
.cart-detail{
	padding:15px 0px;
}
.cart-detail-img img{
	width:100%;
	height:100%;
	padding-left:15px;
}

.btn-info, .btn-info:hover {
    background-color:transparent!important;
    border-color: transparent!important;
}

.cart-detail-product p{
	margin:0px;
	color:#000;
	font-weight:500;
}
.cart-detail .price{
	font-size:12px;
	margin-right:10px;
	font-weight:500;
}
.cart-detail .count{
	color:#C2C2DC;
}
.checkout{
	border-top:1px solid #d2d2d2;	
	padding-top: 15px;
}
.checkout .btn-primary{
	border-radius:50px;
	height:50px;
}
.dropdown-menu:before{
  content: " ";
  position:absolute;
  top:-20px;
  right:50px;
  border:10px solid transparent;
  border-bottom-color:#fff; 
}

/*hover*/
.nav-link:hover{
    color: #8f00ff !important;
}

a:hover{
    color: #8f00ff !important;
    text-decoration: none !important;
}
/*hover*/   

.row1, .col {
    border: 1px solid black;
    flex-direction: column;
    height: 150px;
}

.row-1{
    display: flex;
    flex-wrap: wrap;
}

/*sinatraa o faker*/
.container{
    max-width: 100%;
}

.col-sm-1{
    float: left;
    width: 640px;
    height: 350px;
    background-image: url('../images/sinatraa.jpg');
}

.col-sm-2{
    float: left;
    width: 640px;
    height: 350px;
    background-image: url('../images/faker.jpg');
}
/*sinatraa o faker*/

.card {
    border: none !important;
}

/*card wrapper*/
.justify-content-around {
    text-align: center;
    flex-wrap: wrap;
}

/*product card*/
.row{
    display: flex;
    justify-content: space-between;
}

.btn-primary{
    background-color: #000000 !important;
}
/*product card*/

/*coach cards*/
.cardbg {
    background-image: url("http://starkovtattoo.spb.ru/images/200/DSC100224440.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#444;
    width: 280px;
    height: 300px;
    border-radius:10px;
    margin: 10px 0;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition:all .3s;
}

.row{
    /*flex-wrap: nowrap !important;*/
    margin-left: 0 !important;
}

.profileinfo{
    font-size: 12px;
    font-weight: 200px;
    margin-top: -1em;
}
/*coach cards*/

/*footer*/
.row {
    text-align: center;
    margin-right: 0 !important;
}


.social {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    font-size: 24px;
}
/*footer*/









