/*navbar*/
.navbar-nav .mr-auto{
    font-size: 23px;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar{
    height: 135px;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1550982030-7c1af41addbc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*navbar*/

/*hover*/
.nav-link:hover{
    color: #8f00ff !important;
}

a:hover{
    color: #8f00ff !important;
    text-decoration: none !important;
}
/*hover*/   

.row1, .col {
    border: 1px solid black;
    flex-direction: column;
    height: 150px;
}

.row-1{
    display: flex;
    flex-wrap: wrap;
}

/*sinatraa o faker*/
.container{
    max-width: 100%;
}

.col-sm-1{
    float: left;
    width: 640px;
    height: 350px;
    background-image: url('../images/sinatraa.jpg');
}

.col-sm-2{
    float: left;
    width: 640px;
    height: 350px;
    background-image: url('../images/faker.jpg');
}
/*sinatraa o faker*/

.card {
    border: none !important;
}

/*card wrapper*/
.justify-content-around {
    text-align: center;
    flex-wrap: wrap;
}

/*product card*/
.row{
    display: flex;
    justify-content: space-between;
}

.btn-primary{
    background-color: #000000 !important;
}
/*product card*/

/*coach cards*/
.cardbg {
    background-image: url("http://starkovtattoo.spb.ru/images/200/DSC100224440.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#444;
    width: 280px;
    height: 300px;
    border-radius:10px;
    margin: 10px 0;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition:all .3s;
}

.row{
    /*flex-wrap: nowrap !important;*/
    margin-left: 0 !important;
}

.profileinfo{
    font-size: 12px;
    font-weight: 200px;
    margin-top: -1em;
}
/*coach cards*/

/*footer*/
.row {
    text-align: center;
    margin-right: 0 !important;
}


.social {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    font-size: 24px;
}
/*footer*/









